.header{
    background-color: chocolate;
    height : 11%;
    color:bisque;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}
.framePic{
    width: 25%;
    height:25vw;
    background-color: chocolate;
    padding: 2%;
    border-radius:20px 20px 0 0 ;
    margin-left: 65%;
    position: absolute;
}
.dogPic{
    width:100%;
    height: 80%;
    border-radius: 20px;
    margin-bottom:5%;
}
.btn{
    border-style: hidden;
    border-radius: 4px;
    /* width: 100%; */
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    background-color: chocolate;
}
.btn:hover{
    background-color: white;
    color:chocolate;
    border-color: chocolate;
    border-style: double;
}
.btn:active{
color: white;
background-color: chocolate;
}

.clear{
    border-style: hidden;
    border-radius: 4px;
    width: 10%;
    font-size: 1.2em;
    color: white;
    background-color: transparent;
}
.cardListSub{
    text-transform: capitalize;
    background-color: chocolate;
    width: 20vw;
    padding : 10px 5px 5px 10px ;
    border-radius: 20px;
}
.captionList{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 4%;
}
.subBreedsItem{
    background-color: transparent;
    border-style: none;
    text-decoration: underline;
    color : beige;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 2%;
    width :90%;
    text-align: left;
    border-radius: 5px;
}
.subBreedsItem:hover {
    background-color: beige;
    border-style: none;
    text-decoration: underline;
    color: chocolate;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 2%;
}