.body{
    height: 100%;
    width: 100%;
    position:absolute ;
    /* padding : 0 1%; */
    background-color: #ff862f;
}
.header{
    color:white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.contentBg{
    width:40%;
    height: 80vh;
    float:right;
    margin: 10px 20px 0 0;
}
.contentBg:hover{
    cursor: pointer;
}
.contentBg:active{
    background-color: aliceblue;
    cursor: progress;
}
.artikel{
    color: white;
    font-weight: 500;
    font-size:20px;
    margin:0 10px;
}
.btn{
    border-style: hidden;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 0 0 0 2%;
}
.btn:hover{
    cursor: pointer;
}
.btn:active{
color: white;
background-color: chocolate;
}

.btnClear {
    border-style: hidden;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: chocolate;
}
.btnClear:hover {
    cursor: pointer;
    background-color: white;
    color: Red;
    font-weight: bold;
}
.cardListSub{
    text-transform: capitalize;
    background-color: chocolate;
    width: 150px;
    padding : 5px ;
    border-radius: 20px;
}
.captionList{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 4%;
}
.subBreedsItem{
    background-color: transparent;
    border-style: none;
    color : beige;
    text-transform: capitalize;
    margin-bottom: 5%;
    width :90%;
    text-align: left;
    border-radius: 5px;
}
.subBreedsItem:hover {
    background-color: beige;
    color: chocolate;
    font-weight: bold;
    cursor: pointer;
}
.linkToGallery{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: chocolate;
    margin : 5% 0 0 2%;
    padding-left: 5%;
    position:absolute;
    width : 20%;
    border-radius: 4px;
}
.linkToGallery:hover{
    color: chocolate;
    background-color: white;
    font-size: 30px;
}

@media only screen and (max-width : 630px){
.body {
        height: 150vh;
        width: 100%;
        position: absolute;
        overflow: scroll;
        background-color: #ff862f;
    }

    .header {
        color: white;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .contentBg {
        width: 80%;
        height: 40vh;
        float: right;
        margin: 10px 10% 5% 10%;
    }
        .linkToGallery {
            width: 55%;
            margin: 5% 0 10% 2%;
        }
        .cardListSub {
            text-transform: capitalize;
            background-color: chocolate;
            width: 50%;
            padding: 5px;
            border-radius: 20px;
        }
}
