.title{
    background-color: chocolate;
    height: 11%;
    color: bisque;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.imgSubRndm{
    background-color: chocolate;
    display: flex;
    flex-direction: row;
}
.itemSubImg{
    width: 90%;
    height: 90%;
    margin:5% 0 0 4%; 
}