.title{
    background-color: chocolate;
    height: 11%;
    color: black;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}
h1{
    color : black;
    text-transform: capitalize;
    margin : 0 0 0 5%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.searchBar {
    background-color: rgb(248, 209, 158);
    /* height: 7vh; */
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 90%;
    margin: 4% 0 0 3%;
}
.columnMax{
    display: inline-grid;
    margin-left: 1%;
}
.imgContainer{
    background-color: chocolate;
    height: min-content;
    justify-content: space-around;
    width: auto;
    margin: 1% 0 0 0%
}

.itemSubImg{
    width: 150px;
    height: 150px;
    margin:5% 0 0 4%;
    display: grid;    
}
